.leaflet-container {
  width: 50%;
  height: 60vh;
  margin-right: 50px;
}

.box {
  display: flex;
}

.column1 {
  flex: 1;
}

.form {
  width: 50%;
  margin: auto;
}

.warning {
  margin: 10px;
  color: rgb(131, 7, 7);
  font-weight: 600;
  font-size: large;
}
